beautifulsoup4
chromadb
faiss-cpu
langchain
langchain_community
langchain_text_splitters
opentelemetry-api==1.19.0
opentelemetry-exporter-jaeger==1.19.0
opentelemetry-exporter-otlp-proto-grpc==1.19.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-instrumentation-asgi==0.40b0
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-instrumentation-logging==0.40b0
opentelemetry-instrumentation-requests==0.40b0
opentelemetry-sdk==1.19.0
pypdf
sentence-transformers
streamlit
text-generation
transformers
